*.log
.settings
.docs
doxygen.conf
io/docs
.arduino
.upload
**/Release/*
**/Debug/*
.ino*
.build*
/Default/
.private
RemoteSystemsTempFiles
.DS_Store
.metadata
.env.local
.cproject
.project
*.s#*
*.l#*
*.b#*
*.lck
*.b$*
*.s$*
.ipynb_checkpoints

